# Based on:
#   https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/
#   https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload SALib Python Package pre-release to PyPI and TestPyPI

on: 
  push:
    tags: v*.*dev*
    branches: develop

  check_suite:
    types:
      - completed

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.7
      if: startsWith( github.ref, 'refs/tags/v*.*dev*/')
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Build and publish
      if: startsWith( github.ref, 'refs/tags/v*.*dev*/')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI }}
      run: |
        pip install --user --upgrade wheel twine
        python setup.py sdist bdist_wheel
        python -m twine upload --skip-existing dist/* --repository testpypi

        
